## Data Type and structues (Theory Questions)

Q 1 What are data structures, and why are they important

  Ans -> It is a way of organising and  storing data so that it can be accessed as well as manipulated when needed, effectively. In simple language it can be said that the data structures are the containers of different kind of data.

  Importance of data structures

  - it makes the code more easier to understand
  - it makes the code more efficient
  - helps in manipulating data easily when neccessary

Q2  Explain the difference between mutable and immutable data types with examples

  Ans -> Mutable data types mean those data types that can be changes after they have been created.

  while

  immutable data types are those which cannot be changed once created.

  example-> mutable - list[ ], dictionary{a:b}

  immutable string" ", Tuple()

  List1=[1,5,7,"harry"]

  tuple1=(1,5,7,"harry")

  The content are same in both list and tuple but only in list changes can be made, showing mutablity in list and immutablity in tuple

Q3 What are the main differences between lists and tuples in Python

  Ans -> Them ajor difference between a list and tuple is that the list once created can be changed but tuples cannot be changed. Hence list are known as mutable(allowing change) data type while tuple are known as immutable(doesnt allowing change) data type.

  In case of syntax list uses square brackets [ ] while tuples use round brackets ( )

  Due to its mutability list has more built in functions like .append .pop etc than tuple

Q 4 Describe how dictionaries store data

  Ans -> The dictionaries are made in a combination of two elements namely key and values pair. The dictionary's syntax is in the form of "dict"={"key" = "value1", ...}

  For every key there is a value stored in the pythons memory. The index for that value is the key. If we have to retrieve a certain value we need to access it through its key.

  to achieve value1 in the above example we need to get it through its key

  print(dict["key1"])

  the answer will be value1

Q5 Why might you use a set instead of a list in Python

  Ans-> We might use set instead of list to achieve the unique values. A set cant store duplicate values while a list can. So if in a real use example if we want to know all the unique things we must use set.

  Also set is immutable while list is mutable. So in a senario where anyones personal information is required, set will contain the unique information of invidual (no repitations of info) with being immutable (no one can tamper the information).

Q6 What is a string in Python, and how is it different from a list

  Ans-> A string is a sequence of characters enclosed in either single quotes ('') or double quotes (“”). example - "Hello World"

  Python strings are also known as a collection of unicode characters, beacuse it stores data as a combination of 0s & 1s using ASCHII or Unicode character.

  Strings are immutable, meaning their values cannot be changed once they are created while list are mutable. While both lists and strings can be accessed using indexing and slicing,
  
  but lists provide more flexibility as they can be modified, appended, or extended, while strings cannot be altered after creation.

  A list is an ordered collection of items, where each item can be of any data type. On the contrary, a string is an ordered collection of characters.

Q7  How do tuples ensure data integrity in Python.

  Ans-> Tuples are immutable data type and hence they ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability.

  Once created the data inside a tuple cannot be changed. Saving someone private information can be done in tuple as it cannot be changed by anyone. Hence it guarantees integrity.

Q8  What is a hash table, and how does it relate to dictionaries in Python

  Ans-> A Hash Table in Python is a data structure where data is stored in an associative manner. In hash tables, data is stored in an array format, with every data value having an exclusive or unique index value. This type of storage offers quick access to data if the index of the data required is available.

  It is simillar to a dictionary as it also has a key paired to a certain value.
  For retrieving the value, key which is index in hash table is used. Hence it is related to dictionary in python.

Q9 Can lists contain different data types in Python

  Ans -> Yes a list can contain different data type within including an integer number, string, Boolean value, dictionary, tuple, and even it can contain another list.

Q10  Explain why strings are immutable in Python

  Ans -> In Python, strings are made immutable so that programmers cannot alter the contents of the object (even by mistake). This avoids unnecessary issues.

  The immutability of Python string is very useful as it helps in
  - performance optimization,
  - safety,
  -             ease of use.

Q 11 What advantages do dictionaries offer over lists for certain tasks?

  Ans-> Finding anything in a long list will be difficult as compared to a dictionary. In dictionary we can use the keyword to find the desired result while in list we have to check one by one.
  Also any information specific to specific individual can beassigned using key value pair in dictionry but not in list

  If an individual wanted to store all our friend’s cell phone numbers, he could create a list of pairs phone number name but once this list becomes big enough searching this list for a specific phone number will take a lot of time. Better would be if we could index the list by our friend’s name. This is precisely what a dictionary does.

Q 12 Describe a scenario where using a tuple would be preferable over a list

  Ans-> There may be some occasions when we don’t want our data to be changed. If we have data that’s not meant to be changed in the first place — such as critical information or records — ywe should choose tuple data type over lists.

  Recording someones personal data like name gender place of birth should be stored in a tuple

Q13  How do sets handle duplicate values in Python

  Ans -> Duplicate values in sets are not considered rather when entered multiple times the set considers the value only once

  Set1={1,2,3,4,5,1,2}
  
  print(set1)

  The result will

  {1,2,3,4,5}

Q14 How does the “in” keyword work differently for lists and dictionaries

  Ans-> The 'in' operator in dictionary is used to check if a 'key' exists in a dictionary. It returns True if the key is present and False if it is not. It doesnt work on value in the dictionary.

  while

  in a list the 'in' operator is used to check if the given specified item is present in the list among each item of the list

Q15 Can you modify the elements of a tuple? Explain why or why not

  Ans -> No, we cant modify the element of the tuple once created.

  It cannot be done because the one of the charactersticks of tuple is that they are immutable.

Q16 What is a nested dictionary, and give an example of its use case

  Ans -> When there is a dictionary inside a dictionary it is known as nested dictionary

  For example in an office there are various departments and inside those departments are information regarding department

  My_office ={

    "department1"={
    
      "Employees":32
    
      "Established":1986
    
      "Contact": 556656}
  ,
    
    "department2"={
    
      "Employees":42
    
      "Established":1976
    
      "Contact": 556666}
  ,
    
    "department3"={
    
      "Employees":38
    
      "Established":1987
    
      "Contact": 554545}
    
      }

  This is example of nested dictionary

Q17 Describe the time complexity of accessing elements in a dictionary

  Ans-> Accessing elementsin a dictionary in Python has an average time complexity of O(1). It means that the time taken to access an element from a dictionary is constant and does not depend on the size of the dictionary.

Q18 In what situations are lists preferred over dictionaries

 Ans-> In situations where we nee ordered form of data list is to be used. If we know the order of the object we can retrieve the data from the list easily which is not possible in dictionary where the objects are unorganised.

Q19 Why are dictionaries considered unordered, and how does that affect data retrieval

  Ans -> Dictionaries are considered unordered because thye elements in the dictionary do not have a defined order and also we cant access the elements using an index.

  For data retrieval we cannot use index and hence we can only use the key value pair

Q20 Explain the difference between a list and a dictionary in terms of data retrieval

  Ans ->
  In list as there is a specific order of elements the data retieval is done using the index where we know at what position is the element we require.

  list1=[1,3,4,5]

  print(list1 [1] ) , here 1 is the index and will give ans 3

  while in dictionary the retrieval is done using the key.


  office=
  {
    
    chair:4,
    
    Table:5,
    
    lights:3
  }

  To retrieve no of chairs we use

  print(office["chairs"])

## Practical Questions

In [11]:
# Q1 Write a code to create a string with your name and print it

name1=input("Please enter your name : ")
print (name1)

Please enter your name : Fariz Amaan
Fariz Amaan

In [12]:
# Q2  Write a code to find the length of the string "Hello World"

str1="Hello World"
len(str1)

11

In [13]:
# Q3 Write a code to slice the first 3 characters from the string "Python Programming"
str2="Python Programming"
str22=str2[0:3]
print(str22)

Pyt

In [14]:
# Q4 Write a code to convert the string "hello" to uppercase

str3="hello"
print(str3.upper())

HELLO

In [15]:
# Q5 Write a code to replace the word "apple" with "orange" in the string "I like apple"

str4="I like apple"
str44=str4.replace ("apple","orange")
print(str44)

I like orange

In [16]:
# Q6 Write a code to create a list with numbers 1 to 5 and print it

list1=list(range(1,6))
print(list1)

[1, 2, 3, 4, 5]

In [17]:
# Q7 Write a code to append the number 10 to the list [1, 2, 3, 4]

list2=[1, 2, 3, 4]
list2.append(10)
print(list2)

[1, 2, 3, 4, 10]

In [18]:
# Q8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

list3=[1, 2, 3, 4, 5]
list3.remove(3)
print(list3)

[1, 2, 4, 5]

In [19]:
# Q9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list4=['a', 'b', 'c', 'd']
print(list4[1])

b

In [20]:
# Q10 Write a code to reverse the list [10, 20, 30, 40, 50]

list5=[10, 20, 30, 40, 50]
list5.reverse()
print(list5)

[50, 40, 30, 20, 10]

In [21]:
# Q11  Write a code to create a tuple with the elements 10, 20, 30 and print it.

tup1=(10,20,30)
print(tup1)

(10, 20, 30)

In [22]:
# Q12 Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

tup2=('apple', 'banana', 'cherry')
tup2[0]

'apple'

In [23]:
# Q13  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

tup3=(1, 2, 3, 2, 4, 2)
tup3.count(2)

3

In [24]:
# Q14  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

tup4=('dog', 'cat', 'rabbit')
tup4.index("cat")

1

In [25]:
# Q15  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
tup5=('apple', 'orange', 'banana')
"banana" in tup5

True

In [26]:
# Q 16 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

set1={1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

In [27]:
# Q17 Write a code to add the element 6 to the set {1, 2, 3, 4}.

set2={1, 2, 3, 4}
set2.add(6)
print(set2)

{1, 2, 3, 4, 6}

In [28]:
# Q18  Write a code to create a tuple with the elements 10, 20, 30 and print it.

tup6=(10,20,30)
print(tup6)

(10, 20, 30)

In [29]:
# Q19 Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

tup7=('apple', 'banana', 'cherry')
tup7[0]

'apple'

In [30]:
# Q20  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

tup8=(1, 2, 3, 2, 4, 2)
tup8.count(2)

3

In [31]:
# Q21  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

tup9=('dog', 'cat', 'rabbit')
tup9.index("cat")

1

In [32]:
# Q22  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
tup10=('apple', 'orange', 'banana')
"banana" in tup10

True

In [33]:
# Q23 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

set3={1,2,3,4,5}
print(set3)

{1, 2, 3, 4, 5}

In [34]:
# Q24 Write a code to add the element 6 to the set {1, 2, 3, 4}.

set4={1, 2, 3, 4}
set4.add(6)
print(set4)

{1, 2, 3, 4, 6}